<%- include("../includes/head.ejs") %>
<div class="main-content" id="panel">
  <div class="container-fluid pt-3">
    <div class="row removable">
      <div class="col-lg-12 px-sm-0">
        <div class="card shadow-none px-0 bg-transparent mt-0 mb-4">
          <div class="card-body px-0 pb-0">
            <div class="px-0 pb-4">
              <div class="row flex-row">
                <div class="col-lg-3 mb-4">
                  <div
                    class="card max-height-vh-70 h-100 overflow-auto overflow-x-hidden mb-5 mb-lg-0"
                    style="max-height: 70vh"
                  >
                    <form class="card-header">
                      <div class="input-group mb-0">
                        <input
                          type="text"
                          placeholder="جست و جو..."
                          class="form-control"
                          aria-label="Amount (to the nearest dollar)"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="fa fa-search"></i>
                          </span>
                        </div>
                      </div>
                    </form>
                    <div class="card-body p-2">
                      <a
                        href="javascript:;"
                        class="d-block p-2 rounded-lg bg-gradient-primary"
                      >
                        <div class="d-flex p-2">
                          <img
                            alt="Image"
                            src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHBvcnRyYWl0fGVufDB8MnwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
                            class="avatar shadow"
                          />
                          <div class="ml-2">
                            <div
                              class="justify-content-between align-items-center"
                            >
                              <h4 class="text-white text-right mb-0 mt-1 mr-1">
                                sadads
                                <span class="badge badge-success"></span>
                              </h4>
                              <p
                                class="text-white mb-0 mr-1 text-xs font-weight-normal"
                              >
                                متن آخرین پیام...
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:;" class="d-block p-2">
                        <div class="d-flex p-2">
                          <img
                            alt="Image"
                            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydHJhaXR8ZW58MHwyfDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
                            class="avatar"
                          />
                          <div class="ml-2">
                            <div
                              class="justify-content-between align-items-center"
                            >
                              <h4 class="text-dark text-right mb-0 mt-1 mr-1">
                                حسن عمادی
                                <span class="badge badge-success"></span>
                              </h4>
                              <p
                                class="mb-0 mr-1 text-xs font-weight-normal text-muted"
                              >
                                متن آخرین پیام...
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card max-height-vh-70" style="max-height: 70vh">
                    <div class="card-header shadow-xl">
                      <div class="row">
                        <div class="col-md-8 d-flex justify-content-start">
                          <div class="media align-items-center">
                            <span class="avatar avatar-sm">
                              <img
                                alt="Image placeholder"
                                src="./assets/image/img_avatar.png"
                              />
                            </span>
                            <% if (user) { %>
                            <p class="mb-0 mr-2"><%= user.name %></p>

                            <% } %>
                          </div>
                        </div>
                        <div
                          class="col-md-4 d-flex align-items-center justify-content-end"
                        >
                          <i
                            class="fa-solid fa-plus"
                            data-toggle="modal"
                            data-target="#exampleModal"
                          ></i>
                          <div
                            class="modal fade"
                            id="exampleModal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5
                                    class="modal-title"
                                    id="exampleModalLabel"
                                  >
                                    افزودن کاربر جدید
                                  </h5>
                                  <button
                                    type="button"
                                    class="close custom-close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="" method="post">
                                    <div class="form-group custom-form-group">
                                      <label
                                        for="recipient-name"
                                        class="col-form-label"
                                        >ایمیل</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control custom-form-contorl"
                                        id="recipient-name"
                                      />
                                    </div>
                                    <div class="form-group custom-form-group">
                                      <label
                                        for="recipient-name"
                                        class="col-form-label"
                                        >نام و نام خانوادگی</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control custom-form-contorl"
                                        id="recipient-name"
                                      />
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                  >
                                    بستن
                                  </button>
                                  <button type="button" class="btn btn-primary">
                                    افزودن کاربر
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <i class="fa-solid fa-arrows-rotate mr-2"></i>
                          <form action="logout" method="post">
                            <input
                              type="hidden"
                              name="_csrf"
                              value="<%= csrfToken %>"
                            />

                            <button type="submit" class="btn p-2">
                              <i
                                class="fa-solid fa-right-from-bracket"
                                type="submit"
                              ></i>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <% if (messages.length>0) { %>
                    <div class="card-body overflow-auto overflow-x-hidden">
                      <% messages.forEach((message) => { %>
                      <div class="row justify-content-start mb-4">
                        <div class="col-auto">
                          <div class="card">
                            <div class="card-body p-2">
                              <p class="mb-1"><%= message.message %></p>
                              <div
                                class="d-flex align-items-center text-sm opacity-6"
                              >
                                <i
                                  class="far fa-clock mr-1"
                                  aria-hidden="true"
                                ></i>
                                <small class="mr-1"
                                  ><%=
                                  String(message.created_at.getHours()).padStart(2,
                                  '0') %>:<%=
                                  String(message.created_at.getMinutes()).padStart(2,
                                  '0') %></small
                                >
                              </div>
                            </div>
                          </div>
                        </div>  
                      </div>

                      <% }) %>
                      <div class="row justify-content-end text-right mb-4">
                        <div class="col-auto">
                          <div class="card bg-gradient-primary text-white">
                            <div class="card-body p-2">
                              <p class="mb-1">پیام کاربر<br /></p>
                              <div
                                class="d-flex align-items-center justify-content-end text-sm opacity-6"
                              >
                                <i
                                  class="fa fa-check-double mr-1 text-xs"
                                  aria-hidden="true"
                                ></i>
                                <small>4:42pm</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } else { %>
                    <div class="text-center">
                      <img
                        src="/assets/image/no-chat.jpg"
                        alt="عکس نامه"
                        width="180"
                      />
                      <h3 class="text-center">پیامی وجود ندارد</h3>
                    </div>

                    <% } %>
                    <div class="card-footer d-block">
                      <form class="align-items-center" action="/" method="post">
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            placeholder="پیام خود را بنویسید"
                            class="form-control"
                            name="message"
                            aria-label="Amount (to the nearest dollar)"
                          />
                          <div class="input-group-append custom-hover">
                            <span
                              class="input-group-text custom-input-group-text"
                            >
                              <button type="submit" class="btn">
                                <i class="fa fa-paper-plane"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div
                    class="card max-height-vh-70 h-100 overflow-auto overflow-x-hidden mb-5 mb-lg-0"
                    style="max-height: 70vh"
                  >
                    <div class="card-body p-2">
                      <a href="javascript:;" class="d-block p-2"> </a>
                      <div class="p-2 text-center">
                        <a href="javascript:;" class="d-block p-2">
                          <img
                            alt="Image"
                            src="assets/image/img_avatar.png"
                            class="avatar avatar-lg shadow mb-0"
                          />
                        </a>
                        <div class="ml-2 mt-0 mb-0 text-center">
                          <div
                            class="justify-content-between align-items-center"
                          >
                            <% if (user) { %>

                            <h3 class="mb-0 mt-1"><%= user.name %></h3>
                            <% } %>
                            <a href="" class="text-sm">مشاهده پروفایل</a>
                          </div>
                        </div>
                      </div>
                      <hr class="my-3" />
                      <div class="mx-3">
                        <div class="d-flex align-items-center">
                          <i class="fa-solid fa-user ml-3"></i>
                          <div class="ml-3">
                            <h4 class="mb-0 text-right">بیو:</h4>
                            <p
                              class="text-sm text-muted font-weight-normal text-right"
                            >
                              برنامه نویس
                            </p>
                          </div>
                        </div>
                      </div>
                      <hr class="my-3" />
                      <div class="mx-3">
                        <div class="d-flex align-items-center">
                          <i class="fa-solid fa-at ml-3"></i>
                          <div class="ml-3">
                            <h5 class="mb-0 text-right">ایمیل شما</h5>
                            <% if (user) { %>
                            <span class="text-sm text-primary"
                              ><%= user.email %>
                            </span>

                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <%- include("../includes/end.ejs") %>
</div>
